@tailwind base;
@tailwind components;
@tailwind utilities;

.carousel .thumbs-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .carousel .thumbs {
    display: flex;
    justify-content: center;
    width: 100%;
  }


  
:root{
  --background:#fff;
  --text:#0a0a0a;
  --secondary:#1e1e1e;
}

.dark{
   --background:#0d0d0d;
  --text:#f0eeee;
  --secondary:#e3e3e3;
}

.image-container {
  overflow: hidden;
  position: relative;
}

.zoom-image {
  transition: transform 0.3s ease;
  transform-origin: center center;
  will-change: transform;
}

.image-container:hover .zoom-image {
  transform: scale(2);
}



body {
  /* font-family: 'Playfair', serif; */
  font-family: 'Poppins', sans-serif;
  font-family: 'Times New Roman', Times, serif;
   font-size: 18px;
}

/* No Copy Text */
.no-copy {
  user-select: none;
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none;    /* For Firefox */
  -ms-user-select: none;     /* For IE/Edge */
}

/* custom scrollbar */
/* Scrollbar width */
::-webkit-scrollbar {
  width: 1px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  background: #e5e7eb; 
  border-radius: 10px;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #949497; 
  border-radius: 10px;
}

/* Hover effect */
::-webkit-scrollbar-thumb:hover {
  background: #8b8b8f; 
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: #dfdfe2 #e5e7eb;
}
